<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define BuildPath="$(var.DNSimplezilla.TargetDir)"?>
  <?define ProductName = $(var.SolutionName) ?>
  <?define ProductAuthor = "Florian Herbel" ?>
  <?define ServiceName = $(var.DNSimplezilla.TargetName) ?>
  <?define ServiceDisplayName = "$(var.ServiceName) Service" ?>
  <?define ServiceExecutable=$(var.DNSimplezilla.TargetPath)?>
  <?define ServiceConfigFile="dnsimplezilla.conf.example"?>
  <?define ServiceConfigPath="$(var.BuildPath)$(var.ServiceConfigFile)"?>
  
  <?if $(var.Platform) = x64 ?>
    <?define PlatformName="x64" ?>
    <?define ProductUpgradeCode = "FB2FB4F9-F185-481F-907D-C2CD1FEDB493" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define PlatformNETFRAMEWORK40FULLINSTALLROOTDIR = "NETFRAMEWORK40FULLINSTALLROOTDIR64" ?>
    <?define PlatformNETFRAMEWORK40CLIENTINSTALLROOTDIR = "NETFRAMEWORK40CLIENTINSTALLROOTDIR64" ?>
  <?else ?>
    <?define PlatformName="x86" ?>
    <?define ProductUpgradeCode = "7A1A4C1C-294F-4FAB-832B-FC0938A57AC8" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define PlatformNETFRAMEWORK40CLIENTINSTALLROOTDIR = "NETFRAMEWORK40CLIENTINSTALLROOTDIR" ?>
    <?define PlatformNETFRAMEWORK40FULLINSTALLROOTDIR = "NETFRAMEWORK40FULLINSTALLROOTDIR" ?>
  <?endif ?>

  <Product Id="*" Version="!(bind.FileVersion.ServiceExecutableFile)" UpgradeCode="$(var.ProductUpgradeCode)" Language="1033"
           Name="$(var.ProductName) !(bind.FileVersion.ServiceExecutableFile) ($(var.PlatformName))" Manufacturer="$(var.ProductAuthor)">
    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine"
             Manufacturer="$(var.ProductAuthor)" InstallPrivileges="elevated"/>
    <Icon Id="ProductIcon.exe" SourceFile="Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon.exe" />
    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)"
                Key="Software\$(var.ProductName)$(var.PlatformName)" Name="InstallLocation" />
    </Property>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="$(var.ProductName)" Description="The complete package."
        Display="expand" Level="1" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id="Service"/>
      <ComponentRef Id="Service.Config"/>
      <ComponentGroupRef Id="Service.Dependencies"/>
      <ComponentGroupRef Id="EventSource" />
    </Feature>

    <Component Id="Service" Directory="INSTALLLOCATION" Guid="{F6C696ED-BC0A-42BF-A8FA-1625F0C9758A}" Win64="$(var.Win64)">
      <File Id="ServiceExecutableFile" Source="$(var.ServiceExecutable)" KeyPath="yes" />
      <File Source="$(var.ServiceExecutable).config" />
      <!-- To set the service command line arguments use the attribute Arguments=" /arg value"-->
      <ServiceInstall Id="ServiceInstaller" Type="ownProcess"
                      Name="$(var.ServiceName)" DisplayName="$(var.ServiceDisplayName)"
                      Description="Updates DNSimple records with the current public ip address."
                      Start="auto" Account="LocalSystem" ErrorControl="normal" Vital="yes" />
      <ServiceControl Id="StartService" Name="$(var.ServiceName)" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>

    <Component Id="Service.Config" Guid="{6EE181C5-6F40-49E0-96AF-58513CC07429}" Directory="INSTALLLOCATION">
      <File Source="$(var.ServiceConfigPath)" KeyPath="yes" />
    </Component>
    
    <ComponentGroup Id="Service.Dependencies" Directory="INSTALLLOCATION">
      <Component Guid="{1EBE81B4-2D4F-4789-8F94-3DFC2A5B2676}" Win64="$(var.Win64)">
        <File Source="$(var.BuildPath)Topshelf.dll" KeyPath="yes" />
      </Component>
      <Component Guid="{A7FA1217-D88C-4097-8D90-94E68C856B3C}" Win64="$(var.Win64)">
        <File Source="$(var.BuildPath)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>      
      <Component Guid="{B1BED9D1-448D-4D18-8A35-81BFD6676AED}" Win64="$(var.Win64)">
        <File Source="$(var.BuildPath)RestSharp.dll" KeyPath="yes" />
      </Component>      
      <Component Guid="{673EC01A-964A-4C6E-A831-9DCB0820B17D}" Win64="$(var.Win64)">
        <File Source="$(var.BuildPath)log4net.dll" KeyPath="yes" />
      </Component>
        <Component Guid="{A3D1C7EC-D693-4BE6-9CB9-06A4A8782701}" Win64="$(var.Win64)">
            <File Source="$(var.BuildPath)DNSimple.Api.dll" KeyPath="yes" />
        </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="EventSource" Directory="INSTALLLOCATION">
      <!-- Event Source creation with .NET 4 Full -->
      <Component Id="CreateEventSourceFullNet4" Guid="{F0332429-7117-4869-9A48-98BBDD063FC0}">
        <Condition><![CDATA[PlatformNETFRAMEWORK40FULLINSTALLROOTDIR]]></Condition>
        <CreateFolder/>
        <!-- Create an Event Source -->
        <Util:EventSource
              xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
              Name="$(var.ProductName)"
              Log="Application"
              EventMessageFile="[PlatformNETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>

      <!-- Event Source creation with .NET 4 Client Profile -->
      <Component Id="CreateEventSourceClientNet4" Guid="{CAC86A74-60FC-4036-9F5B-2B3D2C3FB0F2}">
        <Condition><![CDATA[PlatformNETFRAMEWORK40CLIENTINSTALLROOTDIR]]></Condition>
        <CreateFolder/>
        <!-- Create an Event Source -->
        <Util:EventSource
              xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
              Name="$(var.ProductName)"
              Log="Application"
              EventMessageFile="[PlatformNETFRAMEWORK40CLIENTINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
    </ComponentGroup>
    <!-- TODO: Make use of the WIX Ui dialog sets -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_FeatureTree" />
  </Product>
</Wix>