{
  'Username': 'your@email.address',
  'ApiToken': 'YourApiToken',
  //Interval in minutes
  'UpdateInterval': '20',

  'Domains': [
    {
      'Name': "yourdomain.tld",
      'HostRecords': [
          //the root domain host A record has no name
          '',
          'SubDomainName'
      ]
    }
  ]
}